
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>

<ol>
    <li>
        Name: abc
        <ul>
            <li>Detail 1</li>
            <li>Detail 2</li>
        </ul>
    </li>
    <li>
        Name: xyz
        <ul>
            <li>Detail 1</li>
            <li>Detail 2</li>
        </ul>
    </li>
</ol>

